/* General reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* CSS variables */ 

:root {
  /* Colors */
--cyan-600: hsl(192, 37%, 48%);
--cyan-300: hsl(192, 90%, 77%);
--lighter-cyan-600: hsl(192, 54%, 64%);
--purple-600: hsl(268, 34%, 53%);
--purple-300: hsl(268, 100%,86%);
--lighter-purple-600: hsl(268, 55%, 71%);
--slate-900: hsl(240, 21%, 20%);
--slate-600: hsl(240, 10%, 57%);
--slate-300: hsl(240, 18%, 85%);
--white: hsl(0, 0%, 98%);

}


/* Global styles */

html {
    font-size: 62.5% /* 1rem = 10px */
}

body {
  font-family: "Red Hat Display", sans-serif;
  font-size: 1.6rem;
  line-height: 1.1;
  letter-spacing: 0px;
  min-height: 100vh;
  background-color: var(--white);
  border: 3px solid red;
}

.container {
  margin: 4.8rem auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid blue;
  max-width: 37.5rem;
}

/* Header styles */ 
.header {
  margin-bottom: 6.4rem;
}

/* Hero styles */
.hero {
  margin-bottom: 3.2rem;
}
.hero__image-wrapper {
  margin-bottom: 4.8rem;
overflow: hidden;
}

.hero__image {
}
.hero__image-wrapper--left,
.hero__image-wrapper--right {
  display: none;
}
.hero__content {
  margin: 0 3.2rem;
}
.hero__title {
  font-size: 4rem;
  font-weight: 900;
  color: var(--slate-900);
  text-align: center;
  padding: 1rem;
}
.hero__description {
  text-align: center;
  line-height: 1.5;
  color: var(--slate-600);
}