/* General reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* CSS variables */

:root {
  /* Colors */
  --cyan-600: hsl(192, 37%, 48%);
  --cyan-300: hsl(192, 90%, 77%);
  --lighter-cyan-600: hsl(192, 54%, 64%);
  --purple-600: hsl(268, 34%, 53%);
  --purple-300: hsl(268, 100%, 86%);
  --lighter-purple-600: hsl(268, 55%, 71%);
  --slate-900: hsl(240, 21%, 20%);
  --slate-600: hsl(240, 10%, 57%);
  --slate-300: hsl(240, 18%, 85%);
  --white: hsl(0, 0%, 98%);
}

/* Global styles */

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-family: "Red Hat Display", sans-serif;
  font-size: 1.6rem;
  line-height: 1.1;
  letter-spacing: 0px;
  min-height: 100vh;
  background-color: var(--white);
}

.container {
  margin: 4.8rem auto 0 auto;
  display: flex;
  flex-direction: column;
  min-width: 30rem;
}

/* Hero styles */
.hero {
  max-width: 180rem;
}
.hero__logo {
  margin-bottom: 4rem;
}

.hero__image-wrapper {
  margin-bottom: 4.8rem;
  margin: 3.2rem;
  overflow: hidden;
}

.hero__image {
  width: 100%;
}

.hero__image-wrapper--left,
.hero__image-wrapper--right {
  display: none;
}
.hero__content {
  padding: 0 3.2rem 3.2rem 3.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
}
.hero__title {
  font-size: 4rem;
  font-weight: 800;
  color: var(--slate-900);
  text-align: center;
  padding: 1rem;
}
.hero__description {
  text-align: center;
  line-height: 1.5;
  color: var(--slate-600);
}
.hero__button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}

/* Button styles */
.button {
  font-weight: 800;
  line-height: 1.5;
  color: var(--white);
  border: none;
  border-radius: 2.9rem;
  padding: 1.6rem 4rem;
}
.button--primary {
  background-color: var(--cyan-600);
}
.button--primary:hover {
  background-color: var(--lighter-cyan-600);
}
.button--secondary {
  background-color: var(--purple-600);
}
.button--secondary:hover {
  background-color: var(--lighter-purple-600);
}

.button--primary .button__version {
  color: var(--cyan-300);
}
.button--secondary .button__version {
  color: var(--purple-300);
}

.main-content {
  margin-top: 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
}

/* Feature section styles */
.feature {
  margin: 0 3.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6.4rem;
}

.feature__index {
  font-weight: 800;
  line-height: 1.5;
  color: var(--slate-600);
  padding: 1.6rem;
  margin: 0 auto;
  margin-top: 8rem;
  border: 1px solid var(--slate-300);
  border-radius: 100%;
  position: relative;
}
.feature__index::before {
  content: "";
  display: block;
  width: 0.1rem;
  height: 8rem;
  border: transparent;
  border-left: 0.1rem solid var(--slate-300);
  position: absolute;
  left: 50%;
  top: -8rem;
}

.feature__images-wrapper {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  gap: 1.6rem;
}

.feature__image {
  width: calc(50% - 0.8rem);
  border-radius: 0.8rem;
}

.feature__content-wrapper {
  text-align: center;
  padding-bottom: 3.2rem;
}
.feature__subheading {
  font-size: 1.2rem;
  font-weight: 800;
  letter-spacing: 0.4rem;
  color: var(--cyan-600);
  margin-bottom: 1.6rem;
}

.feature__title {
  font-size: 3.2rem;
  font-weight: 800;
  color: var(--slate-900);
  margin-bottom: 3.2rem;
}

.feature__description {
  font-weight: 400;
  line-height: 1.5;
  color: var(--slate-600);
}

.feature--two {
  gap: 0;
  margin: 0;
}

.feature--two .feature__content-wrapper {
  padding: 6.4rem 3.2rem;
  background: linear-gradient(hsl(192 37% 48% / 0.8), hsl(192 37% 48% / 0.8)),
    url(./assets/mobile/image-footer.jpg) center/cover no-repeat;
}

.feature--two .feature__title,
.feature--two .feature__description {
  color: var(--white);
  margin-bottom: 2.4rem;
}

.feature--two .feature__index {
  background-color: var(--white);
  margin-bottom: -2.5rem;
}

/* Responsive styles for tablet view */

@media (min-width: 48rem) {
  .hero__image-wrapper {
    margin-bottom: 7.2rem;
  }
  .hero__content {
    padding: 0 16rem 6.4rem 16rem;
  }
  .hero__button-wrapper {
    flex-direction: row;
  }
  .main-content {
    margin-top: 5.6rem;
  }
  .feature__image {
    width: calc(25% - 1.8rem);
  }
  .feature__content-wrapper {
    padding: 0 0 3.2rem 0;
    margin: 0 8.8rem 0 8.8rem;
  }
  .feature__subheading {
    font-size: 1.4rem;
  }
  .feature__title {
    font-size: 3.6rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .feature--two .feature__content-wrapper {
    background: linear-gradient(hsl(192 37% 48% / 0.8), hsl(192 37% 48% / 0.8)),
      url(./assets/tablet/image-footer.jpg) center/cover no-repeat;
    padding: 6.4rem 13.2rem;
    width: 100%;
    margin: 0;
  }
}

/* Responsive styles for dektop view */
@media (min-width: 64rem) {
  .hero {
    display: flex;
    align-items: center;
    gap: 12.7rem;
  }
  .hero__image-wrapper {
    margin: 0;
    display: none;
    flex: 1 1 auto;
    max-width: 100%;
  }
  .hero__image-wrapper--left {
    display: block;
  }
  .hero__image-wrapper--right {
    display: block;
  }
  .hero__content {
    padding: 0;
    gap: 3.2rem;
  }
  .hero__title {
    font-size: 6.4rem;
  }
  .feature {
    margin-left: 16rem;
    margin-right: 16rem;
  }
  .feature__images-wrapper {
    gap: 3.2rem;
  }
  .feature__image {
    width: calc(25% - 2.4rem);
  }
  .feature__subheading {
    font-size: 1.6rem;
  }
  .feature__title {
    font-size: 4rem;
  }
  .feature__description {
    font-size: 1.8rem;
  }
  .feature--one .feature__content-wrapper {
    min-width: 40rem;
    max-width: 60rem;
    margin: 0 8.8rem 0 8.8rem;
    padding: 0;
  }

  .feature--two {
    margin: 0;
  }

  .feature--two .feature__content-wrapper {
    width: 100%;
    margin: 0;
    padding: 11.2rem 16rem;
    display: flex;
    align-items: center;
    gap: 6rem;
    justify-content: flex-start;
  }

  .feature--two .feature__title {
    flex: 1;
    text-align: left;
  }

  .feature--two .feature__description {
    flex: 1;
    text-align: left;
  }
}
